* { margin: 0; padding: 0; border: none; box-sizing: border-box; list-style: none; }

html {
  background: #ffefd5;
  font-family: 'Katahdin Round Bold';
  color: #4e1900;
}

body {
  padding-bottom: 2em;
}


header {
  position: absolute;
  top: 20px;
  width: 100%;
}
header img {
  float: left;
  display: block;
}
h1 {
  font-size: 180px;
  line-height: 1;
  margin-top: 100px;
}
.byline {
  font-size: 20px;
  opacity: .8;
  margin-top: -1em;
  margin-left: 670px;
}


footer {
  text-align: center;
  color: #ffefd5;
  background: #4e1900;
  position: fixed;
  bottom: 0;
  height: 2em;
  line-height: 2em;
  width: 100%;
}

a:active,
a:visited,
a {
  color: #e89542;
}
